body {
  text-align: center;
  background-image:url( "image/pexels-karolina-grabowska-4464438.jpg" );
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.bttns {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .bttnDiv{
    flex: 1;
  }

  .score {
    background: rgba(255,255,255,0.5);
    border: 2px solid midnightblue;
    opacity: 0.6;
    flex: 1;
}

.score h3{
  margin-top: 1px;
}
  
  .bttn {
    border: 2px solid black;
    width: 100px;
    height: 50px;
    margin: 15px;
    border-radius: 1rem;
    font-size: 15px;
    transition: all .09s ease;
    color: white;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
        /* display:inline-block; horizontally align */

  }

  .bttn:hover {
    background-color:black;

  }

  #bigTxt , .result{
    font-size: 150%;
  }

  .playing {
    transform: scale(1.1);
  }